* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #F8EDE3;
  height: 9em;
}
header .logo img {
  width: 5em;
  transition: all 300ms ease;
}
header .logo img :hover {
  transform: scale(1.4);
  cursor: pointer;
}
header nav ul li {
  display: inline-block;
  margin: 1em;
}
header nav ul li a {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}
header nav ul li a :hover {
  color: #ffffff;
  cursor: pointer;
}

/*FOOTER*/
footer {
  background-color: #7D6E83;
}
footer .pieDePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}
footer .pieDePagina .logoFooter {
  width: 8em;
}
footer .pieDePagina .links h4 {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5em;
}
footer .pieDePagina .links ul li a {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}
footer .pieDePagina .links li {
  margin-bottom: 1em;
}
footer .pieDePagina .redes {
  display: flex;
  flex-direction: column;
}
footer .pieDePagina .redes h4 {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5em;
  color: #000000;
}
footer .pieDePagina .redes a {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  margin-bottom: 1em;
}
footer .pieDePagina .informacion h4 {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5em;
  color: #000000;
}
footer .pieDePagina .informacion ul li {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}
footer .pieDePagina .informacion li {
  margin-bottom: 1em;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, autofill);
  grid-template-areas: "header header header" "main   main   main" "footer footer footer";
}
#index .header {
  grid-area: header;
}
#index .mainIndex {
  grid-area: main;
}
#index .footer {
  grid-area: footer;
}
#index main {
  background-color: #DFD3C3;
  overflow: hidden;
}
#index main .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50em;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index main .banner .bannerTitulo {
  font-size: 4em;
  font-family: "Arimo", sans-serif;
  color: #ffffff;
  margin: 0.3em;
  text-shadow: 2px 2px 6px #000000;
}
#index main .banner .bannerParrafo {
  font-size: 2em;
  font-family: "Arimo", sans-serif;
  color: #ffffff;
  margin: 0.3em;
  text-shadow: 2px 2px 6px #000000;
}
#index main .contenedor {
  height: 20em;
  width: auto;
  background-color: #D0B8A8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index main .contenedor .contenedorTitulo {
  text-align: center;
  width: 50em;
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
  margin: 0.3em;
}
#index main .contenedor .contenedorParrafo {
  text-align: center;
  width: 50em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
#index main .articulo {
  height: 20em;
  width: auto;
  background-color: #DFD3C3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index main .articulo .articuloTitulo {
  text-align: center;
  width: 50em;
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
  margin: 0.3em;
}
#index main .articulo .articuloParrafo {
  text-align: center;
  width: 50em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}/*# sourceMappingURL=main.css.map */