@import '../sass/utilities/reset';
@import '../sass/utilities/header';
@import '../sass/utilities/colors';
@import '../sass/utilities/fonts';
@import '../sass/utilities/queries';
@import '../sass/utilities/footer';

main {   //INDEX

    background-color: #DFD3C3;
    overflow: hidden;

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50em;

        background: {
            image: url(../img/banner.jpg);
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        .bannerTitulo,
        .bannerParrafo {
            font-family: 'Arimo', sans-serif;
            color: #ffffff;
            margin: 0.3em;
            text-shadow: 2px 2px 6px #000000;
        }

        .bannerTitulo {
            font-size: 4em;
        }

        .bannerParrafo {
            font-size: 2em;
        }
    }

    .contenedor {
        height: 20em;
        width: auto;
        background-color: #D0B8A8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contenedorTitulo,
        .contenedorParrafo {
            text-align: center;
            width: 50em;
        }

        .contenedorTitulo {
            font-size: 2em;
            font-family: 'Roboto Condensed', sans-serif;
            color: #000000;
            margin: 0.3em;
        }

        .contenedorParrafo {
            font-size: 1em;
            font-family: 'Montserrat', sans-serif;
            color: #000000;
        }
    }

    .articulo {
        height: 20em;
        width: auto;
        background-color: #DFD3C3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .articuloTitulo,
        .articuloParrafo {
            text-align: center;
            width: 50em;
        }

        .articuloTitulo {
            font-size: 2em;
            font-family: 'Roboto Condensed', sans-serif;
            color: #000000;
            margin: 0.3em;
        }

        .articuloParrafo {
            font-size: 1em;
            font-family: 'Montserrat', sans-serif;
            color: #000000;
        }
    }

    #index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header header"
            "main   main   main"
            "footer footer footer";
    
        .header {
            grid-area: herader;
        }
    
        .mainIndex {
            grid-area: main;
        }
    
        .footer {
            grid-area: footer;
        }
    }
}

main {   //SOBRE NOSOTROS FALTA TERMINAR LA PAGINA

    
    .nosotrosTitulo {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4em;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            text-shadow: 2px 3px #000000;
            color: #ffffffff;
            margin: 2em;
        }
    }

    .cards {
        display: flex;
    }
}

main {   //GALERIA

    .galeriaTitulo {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4em;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 2px 3px #000000;
            margin: 1em;
        }
    }

    #galeria {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 8em;
    }

    #galeria {
        display: grid;
        grid-template-columns: repeat(4, 400px);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas:
            "img1  img8  img2  img11"
            "img1  img6  img2  img5"
            "img10 img9  img12 img5"
            "img7  img9  img14 img4"
            "img3  img13 img13 img4";
        gap: 20px;
    }

    .img-1 {
        grid-area: img1;
    }

    .img-2 {
        grid-area: img2;
    }

    .img-3 {
        grid-area: img3;
    }

    .img-4 {
        grid-area: img4;
    }

    .img-5 {
        grid-area: img5;
    }

    .img-6 {
        grid-area: img6;
    }

    .img-7 {
        grid-area: img7;
    }

    .img-8 {
        grid-area: img8;
    }

    .img-9 {
        grid-area: img9;
    }

    .img-10 {
        grid-area: img10;
    }

    .img-11 {
        grid-area: img11;
    }

    .img-12 {
        grid-area: img12;
    }

    .img-13 {
        grid-area: img13;
    }

    .img-14 {
        grid-area: img14;
    }

    .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 5px 10px 0px;
        transition: all 300ms ease;

        :hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

main{    //CONTACTO

    .contactoTitulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 4em;
            font-family: 'Roboto Condensed', sans-serif;
            text-shadow: 2px 3px #000000;
            text-transform: uppercase;
            color: #ffffff;
            margin: 2em;
        }
    }

    .contenedorContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 8em;

        form{
            width: 500px;
            padding: 1em;
        }

        form{
            border-radius: 0.5em;
            box-shadow: 6px 3px 8px 1px #000000;
            background:linear-gradient(135deg, #e9eced 0%,#fffcfc 100%);
        }

        form{
            font-size: 1.2em;
            font-family: Verdana, Geneva, Tahoma, sans-serif ;
            color: #000000;
        }

        div{
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }

        label{
            margin-bottom: 0.5em;
        }

        input{
            width: 450px;
            height: 40px;
        }

        input{
            font-size: 1.0em;
            border-radius: 0.3em;
            outline: none;
            border: 1px solid;
        }

        textarea{
            width: 450px;
            height: 90px;
        }

        textarea{
            font-size: 1.2em;
            border-radius: 0.3em;
            resize: none;
            outline: none;
            border: 1px solid;
        }

        button{
            font-size: 0.8em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        button{
            display: block;
            width: 450px;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 10px;
            background-size: 200% auto;
            background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
            transition: 0.5s;

            :hover{
                background-position: right center;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}