/*INDEX MEDIA QUERIES*/

@media screen and (min-width:320px) and (max-width:479px) {

    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "main"
            "footer";

        .header {
            height: 100px;
        }

        .header>nav {
            font-size: 0.7em;
        }

        .logo img {
            width: 50px;
        }

        .banner {
            height: 400px;
        }

        .banner .bannerTitulo {
            font-size: 2em;
        }

        .banner .bannerParrafo {
            font-size: 0.7em;
        }

        .contenedorTitulo {
            font-size: 2em;
        }

        .contenedorParrafo {
            font-size: 0.7em;
            width: 300px;
        }

        .articulo .articuloTitulo {
            font-size: 2em;
        }

        .articuloParrafo {
            font-size: 0.7em;
            width: 300px;
        }

        .pieDePagina .redes {
            display: flex;
            flex-direction: row;
            font-size: 0.8em;
        }

        .pieDePagina picture {
            display: none
        }

        .links,
        .informacion {
            display: none;
        }

        .redes h4 {
            display: none;
        }

        .redes a {
            margin-right: 1.1em;
        }
    }
}

@media screen and (min-width:480px) and (max-width:767px) {

    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "main"
            "foooter";

        .banner .bannerTitulo {
            font-size: 3em;
        }

        .banner .bannerParrafo {
            font-size: 1em;
        }

        .contenedor .contenedorTitulo {
            font-size: 2em;
        }

        .contenedor .contenedorParrafo {
            font-size: 0.9em;
            width: 400px;
        }

        .articulo .articuloTitulo {
            font-size: 2em;
        }

        .articulo .articuloParrafo {
            font-size: 0.9em;
            width: 400px;
        }

        .pieDePagina>picture {
            display: none;
        }

        .pieDePagina .redes {
            display: flex;
            flex-direction: row;
            font-size: 1.2em;
        }

        .pieDePagina picture {
            display: none
        }

        .links,
        .informacion {
            display: none;
        }

        .redes h4 {
            display: none;
        }

        .redes a {
            margin-right: 1.2em;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    #index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header"
            "main   main"
            "footer footer";

        .banner .bannerTitulo {
            font-size: 3em;
        }

        .banner .bannerParrafo {
            font-size: 1.5em;
        }

        .contenedor .contenedorTitulo {
            font-size: 2em;
        }

        .contenedor .contenedorParrafo {
            font-size: 0.9em;
        }

        .articulo .articuloTitulo {
            font-size: 2em;
        }

        .articulo .articuloParrafo {
            font-size: 0.9em;
        }

        .pieDePagina>picture {
            display: none;
        }
    }
}

/*GALERIA MEDIA QUERIES*/

    @media screen and (min-width: 320px) and (max-width:479px) {

        #galeria {
            display: grid;
            grid-template-columns: repeat(2, 140px);
            grid-template-rows: repeat(9, 140px);
            grid-template-areas:
                "img1  img1"
                "img2  img3"
                "img4  img4"
                "img5  img6"
                "img7  img7"
                "img8  img9"
                "img10 img10"
                "img11 img12"
                "img13 img14";
        }

        .header {
            height: 100px;
        }

        .header>nav {
            font-size: 0.7em;
        }

        .logo img {
            width: 50px;
        }

        .galeriaTitulo h1 {
            font-size: 1.5em;
        }

        .pieDePagina .redes {
            display: flex;
            flex-direction: row;
            font-size: 0.8em;
        }

        .pieDePagina picture {
            display: none
        }

        .links,
        .informacion {
            display: none;
        }

        .redes h4 {
            display: none;
        }

        .redes a {
            margin-right: 1.1em;
        }
    }

    @media screen and (min-width: 480px) and (max-width:767px) {

        #galeria {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(9, 200px);
            grid-template-areas:
                "img1  img1"
                "img2  img3"
                "img4  img4"
                "img5  img6"
                "img7  img7"
                "img8  img9"
                "img10 img10"
                "img11 img12"
                "img13 img14";
        }

        .header {
            height: 100px;
        }

        .header>nav {
            font-size: 0.7em;
        }

        .logo img {
            width: 50px;
        }

        .galeriaTitulo h1 {
            font-size: 2em;
        }

        .pieDePagina .redes {
            display: flex;
            flex-direction: row;
            font-size: 0.8em;
        }

        .pieDePagina picture {
            display: none
        }

        .links,
        .informacion {
            display: none;
        }

        .redes h4 {
            display: none;
        }

        .redes a {
            margin-right: 1.1em;
        }
    }

    @media screen and (min-width: 768px) and (max-width:1279px){

        #galeria {
            display: grid;
            grid-template-columns: repeat(3, 220px);
            grid-template-rows: repeat(9, 400px);
            grid-template-areas:
            "img1  img1  img2"
            "img3  img3  img3"
            "img4  img4  img5"
            "img6  img6  img6"
            "img8  img7  img7"
            "img11 img11 img11"
            "img9  img10 img10"
            "img12 img12 img12"
            "img13 img14 img14";
        }

        .galeriaTitulo h1{
            font-size:3em;
        }
    }

    @media screen and (min-width: 1280px) and (max-width:1824px){

        #galeria{
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(5, 300px);
            grid-template-areas:
            "img1  img9  img2  img11"
            "img1  img6  img2  img5"
            "img10 img8  img12 img5"
            "img7  img8  img14 img4"
            "img3  img13 img13 img4";
        }
    }