@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*RESET*/

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    padding: 1em;
}

header {
    background-color: #F8EDE3;
}

/*(HEADER) LOGO*/

/*Ancho y animacion al logo*/

.logo img {
    width: 5em;
    transition: all 300ms ease;
}

.logo img:hover {
    transform: scale(1.4);
    cursor: pointer;
}

/*(HEADER) NAVBAR*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > nav ul li{
    display: inline-block;
    margin: 10px;
}

header > nav li a {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;; 
    color: #000000;
}

header > nav ul li a:hover {
    color: #ffffff;
    cursor: pointer;
}

.menuIcon, #check{
    display: none;
}

/*(MAIN) BANNER*/

main {
    background-color: #DFD3C3;
    overflow: hidden;
}

.banner {
    background-image: url(../Img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilo de titulo y parrafo*/

.bannerTitulo,
.bannerParrafo {
    font-family: 'Arimo', sans-serif;;
    color: #ffffffff;
    margin: 0.3em;
    text-shadow: 2px 2px 6px #000000;
}

.bannerTitulo {
    /*Tamaño de fuente del titulo*/
    font-size: 4em ;
}

.bannerParrafo {
    /*Tamaño de fuente del parrafo*/
    font-size: 2em;
}

/*----------------------------------------------------*/

/*INDEX*/

.contenedor {
    /* Se da un alto y un ancho junto con un color de fondo*/
    height: 20em;
    width: auto;
    background-color: #D0B8A8;
}

.contenedor {
    /*Se utiliza para posicionar el elemento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorTitulo,
.contenedorParrafo {
    /*Se alinean ambos textos y se le da un ancho*/
    text-align: center;
    width: 50em;
}

.contenedorTitulo {
    /*Estilo del titulo*/
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;;
    color: #000000;
    margin: 0.3em;
}

.contenedorParrafo {
    /*Estilo del parrafo*/
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;;
    color: #000000;
}

/*----------------------------------------------------*/

.articulo {
    /*Contenedor articulo*/
    height: 20em;
    width: auto;
    background-color: #DFD3C3;
}

.articulo {
    /*Se utiliza para posicionar los elementos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articuloTitulo,
.articuloParrafo {
    /*Se alinean ambos textos y se le da un ancho*/
    text-align: center;
    width: 50em;
}

.articuloTitulo {
    /*Estilo del titulo*/
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    margin: 0.3em;
}

.articuloParrafo {
    /*Estilo del parrafo*/
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

/*----------------------------------------------------*/

/*INDEX GRID*/

#index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, autofill);
    grid-template-areas:
        "header header header"
        "main   main   main"
        "footer footer footer";
}

#index .header {
    grid-area: header;
}

#index .mainIndex {
    grid-area: main;
}

#index .footer {
    grid-area: footer;
}

/*INDEX MEDIA QUERIES*/

@media screen and (min-width:320px) and (max-width:479px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    
    .banner {
        height: 400px;
    }

    .banner .bannerTitulo {
        font-size: 2em;
    }

    .banner .bannerParrafo {
        font-size: 0.7em;
    }

    .contenedorTitulo {
        font-size: 2em;
    }

    .contenedorParrafo {
        font-size: 0.7em;
        width: 300px;
    }

    .articulo .articuloTitulo {
        font-size: 2em;
    }

    .articuloParrafo {
        font-size: 0.7em;
        width: 300px;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .banner .bannerTitulo {
        font-size: 3em;
    }

    .banner .bannerParrafo {
        font-size: 1em;
    }

    .contenedor .contenedorTitulo {
        font-size: 2em;
    }

    .contenedor .contenedorParrafo {
        font-size: 0.9em;
        width: 400px;
    }

    .articulo .articuloTitulo {
        font-size: 2em;
    }

    .articulo .articuloParrafo {
        font-size: 0.9em;
        width: 400px;
    }

    .pieDePagina>picture {
        display: none;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.2em;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header"
            "main   main"
            "footer footer";
    }

    .banner .bannerTitulo {
        font-size: 3em;
    }

    .banner .bannerParrafo {
        font-size: 1.5em;
    }

    .contenedor .contenedorTitulo {
        font-size: 2em;
    }

    .contenedor .contenedorParrafo {
        font-size: 0.9em;
    }

    .articulo .articuloTitulo {
        font-size: 2em;
    }

    .articulo .articuloParrafo {
        font-size: 0.9em;
    }

    .pieDePagina>picture {
        display: none;
    }
}

/*-------------------------------------------*/

/*FOOTER*/

footer {
    background-color: #7D6E83;
}

.pieDePagina {
    /*Se utilizo para posicionar el contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.logoFooter {
    /*Ancho del logo*/
    width: 8em;
}

/*(FOOTER) LINKS*/

.links h4 { /*Estilo al titulo de links*/

    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;;
    margin-bottom: 0.5em;
}

.links ul li a {
    /*Estilo a la lista links*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #000000;
}

.links li {
    /*Margin bottom entre cada lista*/
    margin-bottom: 1em;
}

/*(FOOTER) REDES*/

.redes {
    /*Se utilizo para posicionar los iconos de las redes sociales*/
    display: flex;
    flex-direction: column;
}

.redes h4 {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5em;
    color: #000000;
}

.redes a {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin-bottom: 1em;
}

/*(FOOTER) INFORMACION*/

.informacion h4 {
    /*Estilo al titulo de informacion*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5em;
    color: #000000;
}

.informacion ul li {
    /*Estilo a la lista informacion*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.informacion li {
    /*Margin bottom entre cada lista*/
    margin-bottom: 1em;
}

/*(FOOTER) COPYRIGHT*/

.copyright {
    /*Se utilizo para posicionar el texto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------*/

/*Sobre nosotros*/

.nosotrosTitulo {
    /*Se utilizo para posicionar al titulo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotrosTitulo h1 {
    /*Al titulo se le aplico estetica*/
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color: #ffffffff;
    margin: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    width: 100%;
}

/*CARDS SOBRE NOSOTROS*/

.cards .cardDerecha {
    background-color: #ffffff;
    width: 45em;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;
}

.cards .cardDerecha:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cards .cardDerecha img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cards .cardDerecha h2 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
}

.cards .cardDerecha p {
    padding: 2em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.cards .cardIzquierda {
    background-color: #ffffff;
    width: 45em;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;
}

.cards .cardIzquierda:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cards .cardIzquierda img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cards .cardIzquierda h2 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
}

.cards .cardIzquierda p {
    padding: 2em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

/*SOBRE NOSOTROS (SERVICIOS)*/

.serviciosTitulo {
    /*Se utilizo para posicionar al titulo*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviciosTitulo>h3 {
    /*Se utilizo para dar estetica al titulo*/
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color: #ffffffff;
    margin: 2em;
}

/*CARDS SERVICIOS*/

.cardsServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardsServicios .card-1 {
    position: relative;
    background-color: #ffffff;
    width: 50em;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;

}

.cardsServicios .card-1:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cardsServicios .card-1 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cardsServicios .card-1 h4 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
}

.cardsServicios .card-1 p {
    width: 800px;
    padding: 1em;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------*/

.cardsServicios .card-2 {
    background-color: #ffffff;
    width: 50em;
    height: 49em;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;
}

.cardsServicios .card-2:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cardsServicios .card-2 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cardsServicios .card-2 h4 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
}

.cardsServicios .card-2 p {
    width: 800px;
    padding: 1em;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------*/

.cardsServicios .card-3 {
    background-color: #ffffff;
    width: 50em;
    height: 46em;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;
}

.cardsServicios .card-3:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cardsServicios .card-3 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cardsServicios .card-3 h4 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
}

.cardsServicios .card-3 p {
    padding: 1em;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------*/

.cardsServicios .card-4 {
    background-color: #ffffff;
    width: 50em;
    height: 46em;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.904);
    margin: 20px;
    text-align: center;
    transition: all 0.25s ease-in;
}

.cardsServicios .card-4:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cardsServicios .card-4 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cardsServicios .card-4 h4 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 40px;
}

.cardsServicios .card-4 p {
    width: 800px;
    padding: 1em;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}

#sobreNosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, autofill);
    grid-template-areas:
        "header   header   header"
        "nosotros nosotros nosotros"
        "footer   footer   footer";
}

.header {
    grid-area: header;
}

.sobreNosotros {
    grid-area: nosotros;
}

.footer {
    grid-area: footer;
}

/*SOBRE NOSOTROS MEDIA QUERIES*/

@media screen and (min-width: 320px) and (max-width:479px) {

    #sobreNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "nosotros"
            "footer";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .nosotrosTitulo,
    h1 {
        font-size: 0.4em;
        margin: 1em;
    }

    /*CARDS SOBRE NOSOTROS*/

    .cards .cardDerecha {
        width: 18em;
        height: 24em;
        margin: 30px;
    }

    .cards .cardDerecha h2 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cards .cardDerecha p {
        padding: 1.5em;
        font-size: 0.7em;
    }

    .cards .cardIzquierda {
        width: 18em;
        height: 20em;
        margin: 30px;
    }

    .cards .cardIzquierda h2 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cards .cardIzquierda p {
        padding: 1.5em;
        font-size: 0.7em;
    }

    .serviciosTitulo,
    h3 {
        font-size: 0.37em;
        margin: 1em;
    }

    /*CARDS SERVICIOS*/

    .cardsServicios .card-1 {
        height: fit-content;
    }

    .cardsServicios .card-1>h4 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cardsServicios .card-1 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.7em;
    }

    .cardsServicios .card-2 {
        height: fit-content;
    }

    .cardsServicios .card-2>h4 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cardsServicios .card-2 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.7em;
    }

    .cardsServicios .card-3 {
        height: fit-content;
    }

    .cardsServicios .card-3>h4 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cardsServicios .card-3 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.7em;
    }

    .cardsServicios .card-4 {
        height: fit-content;
    }

    .cardsServicios .card-4>h4 {
        font-size: 1em;
        padding-top: 5px;
    }

    .cardsServicios .card-4 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.7em;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {

    #sobreNosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header"
            "nosotros nosotros"
            "footer nosotros";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .nosotrosTitulo,
    h1 {
        font-size: 0.6em;
        margin: 5px;
    }

    /*CARDS SOBRE NOSOTROS*/

    .cards .cardDerecha {
        width: 28em;
        height: 28em;
        margin: 5px;
    }

    .cards .cardDerecha h2 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cards .cardDerecha p {
        padding: 1.5em;
        font-size: 0.8em;
    }

    .cards .cardIzquierda {
        width: 28em;
        height: 25em;
        margin: 5px;
    }

    .cards .cardIzquierda h2 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cards .cardIzquierda p {
        padding: 1.5em;
        font-size: 0.8em;
    }

    .serviciosTitulo,
    h3 {
        font-size: 0.5em;
        margin: 5px;
    }

    /*CARDS SERVICIOS*/

    .cardsServicios .card-1 {
        width: 27em;
        height: 29em;
    }

    .cardsServicios .card-1>h4 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cardsServicios .card-1 p {
        width: fit-content;
        padding: 1em;
        font-size: 0.8em;
    }

    .cardsServicios .card-2 {
        width: 27em;
        height: 27em;
    }

    .cardsServicios .card-2>h4 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cardsServicios .card-2 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.8em;
    }

    .cardsServicios .card-3 {
        width: 28em;
        height: 28em;
    }

    .cardsServicios .card-3>h4 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cardsServicios .card-3 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.8em;
    }

    .cardsServicios .card-4 {
        width: 26em;
        height: 26em;
    }

    .cardsServicios .card-4>h4 {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .cardsServicios .card-4 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 0.8em;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }

}

@media screen and (min-width: 768px) and (max-width:1024px) {

    #sobreNosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header"
            "nosotros nosotros"
            "footer nosotros";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .nosotrosTitulo,
    h1 {
        font-size: 0.8em;
        margin: 5px;
    }

    /*CARDS SOBRE NOSOTROS*/

    .cards .cardDerecha {
        width: 40em;
        margin-bottom: 20px;
    }

    .cards .cardDerecha h2 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cards .cardDerecha p {
        padding: 1.5em;
        font-size: 1.1em;
    }

    .cards .cardIzquierda {
        width: 40em;
        margin: 5px;
    }

    .cards .cardIzquierda h2 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cards .cardIzquierda p {
        padding: 1.5em;
        font-size: 1.1em;
    }

    .serviciosTitulo,
    h3 {
        font-size: 0.8em;
        margin: 5px;
    }

    /*CARDS SERVICIOS*/

    .cardsServicios .card-1 {
        width: 40em;
    }

    .cardsServicios .card-1>h4 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cardsServicios .card-1 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 1.1em;
    }

    .cardsServicios .card-2 {
        width: 40em;
        height: fit-content;
    }

    .cardsServicios .card-2>h4 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cardsServicios .card-2 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 1.1em;
    }

    .cardsServicios .card-3 {
        width: 40em;
        height: fit-content;
    }

    .cardsServicios .card-3>h4 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cardsServicios .card-3 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 1.1em;
    }

    .cardsServicios .card-4 {
        width: 40em;
        height: fit-content;
    }

    .cardsServicios .card-4>h4 {
        font-size: 2em;
        padding-top: 5px;
    }

    .cardsServicios .card-4 p {
        width: fit-content;
        padding: 1.5em;
        font-size: 1.1em;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }
}

@media screen and (min-width: 1280px) and (max-width:1824px) {

    #sobreNosotros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header   header   header"
            "nosotros nosotros nosotros"
            "footer   footer   footer";
    }
}


/*----------------------------------------------------*/

/*GALERIA*/

/*Se utilizo para posicionar al titulo de la galeria*/

.galeriaTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Al titulo se le asigno estilo en su fuente*/

.galeriaTitulo>h1 {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 3px #000000;
    margin: 1em;
}

/*Flexbox al contenedor galeria*/

#galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

/*Grids a la galeria*/

#galeria {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas:
        "img1  img8  img2  img11"
        "img1  img6  img2  img5"
        "img10 img9  img12 img5"
        "img7  img9  img14 img4"
        "img3  img13 img13 img4";
    gap: 20px;
}

.img-1 {
    grid-area: img1;
}

.img-2 {
    grid-area: img2;
}

.img-3 {
    grid-area: img3;
}

.img-4 {
    grid-area: img4;
}

.img-5 {
    grid-area: img5;
}

.img-6 {
    grid-area: img6;
}

.img-7 {
    grid-area: img7;
}

.img-8 {
    grid-area: img8;
}

.img-9 {
    grid-area: img9;
}

.img-10 {
    grid-area: img10;
}

.img-11 {
    grid-area: img11;
}

.img-12 {
    grid-area: img12;
}

.img-13 {
    grid-area: img13;
}

.img-14 {
    grid-area: img14;
}

/*Estilo de todas las imagenes*/

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px;
    transition: all 300ms ease;
}

.img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*Galeria Media Queries*/

@media screen and (min-width: 320px) and (max-width:479px) {

    #galeria {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(9, 140px);
        grid-template-areas:
            "img1  img1"
            "img2  img3"
            "img4  img4"
            "img5  img6"
            "img7  img7"
            "img8  img9"
            "img10 img10"
            "img11 img12"
            "img13 img14";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .galeriaTitulo h1 {
        font-size: 1.5em;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {

    #galeria {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(9, 200px);
        grid-template-areas:
            "img1  img1"
            "img2  img3"
            "img4  img4"
            "img5  img6"
            "img7  img7"
            "img8  img9"
            "img10 img10"
            "img11 img12"
            "img13 img14";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .galeriaTitulo h1 {
        font-size: 2em;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) {

    #galeria {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(9, 400px);
        grid-template-areas:
            "img1  img1  img2"
            "img3  img3  img3"
            "img4  img4  img5"
            "img6  img6  img6"
            "img8  img7  img7"
            "img11 img11 img11"
            "img9  img10 img10"
            "img12 img12 img12"
            "img13 img14 img14";
    }

    .galeriaTitulo h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1280px) and (max-width:1824px) {

    #galeria {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas:
            "img1  img9  img2  img11"
            "img1  img6  img2  img5"
            "img10 img8  img12 img5"
            "img7  img8  img14 img4"
            "img3  img13 img13 img4";
    }
}

/*----------------------------------------------------*/

/*CONTACTO*/

/*Posicionamiento al titulo*/

.contactoTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilo al titulo*/

.contactoTitulo h1 {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color: #ffffffff;
    margin: 2em;
}

/*FORMULARIO CONTACTO*/

.contenedorContacto {
    /*Posicionamiento al formulario*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedorContacto {
    margin-bottom: 8em;
}

/*Estilo a los cajones del formulario*/

.contenedorContacto form {
    width: 500px;
    /*Lo pase a pixeles porque en em se distribuye de otra manera la caja padre*/
    padding: 1em;

    border-radius: 0.5em;
    box-shadow: 6px 3px 8px 1px #000000;
    background: linear-gradient(135deg, #e9eced 0%, #fffcfc 100%);
}

/*Estilo a todo el texto del formulario*/

.contenedorContacto form {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

/*Posicionamiento entre los divs*/

.contenedorContacto div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.contenedorContacto label {
    margin-bottom: 0.5em;
}

/*Alto y ancho de las cajas de texto*/

.contenedorContacto input {
    width: 450px;
    height: 40px;
}

/*Se modificaron los valores de las cajas de texto */

.contenedorContacto input {
    font-size: 1.0em;
    border-radius: 0.3em;
    outline: none;
    border: 1px solid;
}

/*Alto y ancho de la caja de comentario*/

.contenedorContacto textarea {
    width: 450px;
    height: 90px;
}

/*Se modificaron los valores de la caja comentario*/

.contenedorContacto textarea {
    font-size: 1.2em;
    border-radius: 0.3em;
    resize: none;
    outline: none;
    border: 1px solid;
}

/*Estilos al boton*/

.contenedorContacto button {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorContacto button {
    display: block;
    width: 450px;
    margin: 10px;
    padding: 15px 45px;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    box-shadow: 0 0 20px #eeeeee;
    border-radius: 10px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);

    transition: 0.5s;
}

.contenedorContacto button:hover {
    background-position: right center;
    color: #ffffff;
    text-decoration: none;
}

#contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, autofill);
    grid-template-areas:
        "header header header"
        "contacto contacto contacto"
        "footer footer footer";
}

#contacto header {
    grid-area: header;
}

#contacto main {
    grid-area: contacto;
}

#contacto footer {
    grid-area: footer;
}

/*CONTACTO MEDIA QUERIES*/

@media screen and (min-width:320px) and (max-width:479px) {

    #contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header"
            "contacto"
            "footer";
    }

    .header {
        height: 100px;
    }

    .header>nav {
        font-size: 0.7em;
    }

    .logo img {
        width: 50px;
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .contactoTitulo h1 {
        font-size: 2em;
    }

    .contenedorContacto form {
        width: 90%;
    }

    .contenedorContacto input {
        width: 100%;
    }

    .contenedorContacto textarea {
        width: 100%;
    }

    .contenedorContacto button {
        width: 90%;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.1em;
    }

    .copyright h5 {
        font-size: 0.8em;
    }

    .copyright p {
        font-size: 0.6em;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {

    #contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header"
            "contacto contacto"
            "footer footer";
    }

    .checkBoton{
        display: block;
    }

    .menuIcon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
    }

    .navMenu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: 100%;
        background:rgb(124, 89, 89) ;
        width: 100%;
        height: 25vh;
        right: 0;
    }

    .navMenu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .navMenu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .contactoTitulo h1 {
        font-size: 3em;
    }

    .contenedorContacto form {
        width: 90%;
    }

    .contenedorContacto,
    label button {
        font-size: 0.8em;
    }

    .contenedorContacto input {
        width: 100%;
    }

    .contenedorContacto textarea {
        width: 100%;
    }

    .contenedorContacto button {
        width: 95%;
    }

    .pieDePagina>picture {
        display: none;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.2em;
    }

    .copyright h5 {
        font-size: 0.8em;
    }

    .copyright p {
        font-size: 0.6em;
    }
}

@media screen and (min-width:768px) and (max-width:820px) {

    #contacto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
            "header header header"
            "contacto contacto contacto"
            "footer footer footer";
    }

    .contactoTitulo h1 {
        font-size: 3em;
    }

    .contenedorContacto form {
        width: 90%;
    }

    .contenedorContacto,
    label button {
        font-size: 0.8em;
    }

    .contenedorContacto input {
        width: 100%;
    }

    .contenedorContacto textarea {
        width: 100%;
    }

    .contenedorContacto button {
        width: 95%;
    }

    .pieDePagina>picture {
        display: none;
    }

    .pieDePagina .redes {
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }

    .pieDePagina picture {
        display: none
    }

    .links,
    .informacion {
        display: none;
    }

    .redes h4 {
        display: none;
    }

    .redes a {
        margin-right: 1.2em;
    }

    .copyright h5 {
        font-size: 0.8em;
    }

    .copyright p {
        font-size: 0.6em;
    }
}