@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*RESET*/

*{ 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
}

header{
    background-color: #F8EDE3;
    height: 9em;
}

/*(HEADER) LOGO*/

/*Ancho y animacion al logo*/

.logo img{ 
    width: 5em;
    transition: all 300ms ease;
}

.logo img:hover{
    transform: scale(1.4);
    cursor: pointer;
}

/*(HEADER) NAVBAR*/

header > nav ul li {
    display: inline-block; /*Se aplico inline block al navbar*/
    margin: 1em;
}

header > nav li a{
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
}

nav ul li a:hover{
    color: #ffffff;
    cursor: pointer;
}

/*(HEADER) BANNER*/

main{
    padding: 1px;
    background-color: #DFD3C3;
    overflow: hidden;
}

.banner{
    background-image: url(../Img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
}

.banner{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilo de titulo y parrafo*/

.bannerTitulo, .bannerParrafo{ 
    font-family: 'Arimo', sans-serif;
    color: #fffffff6;
    margin: 0.3em;
    text-shadow: 2px 2px 6px #000000bd;
}

.bannerTitulo{ /*Tamaño de fuente del titulo*/
    font-size: 4em;
}

.bannerParrafo{ /*Tamaño de fuente del parrafo*/
    font-size: 2em;
}

/*----------------------------------------------------*/

/*INDEX*/

.contenedor{ /* Se da un alto y un ancho junto con un color de fondo*/
    height: 20em;
    width: auto;
    background-color: #D0B8A8;
}

.contenedor{ /*Se utiliza para posicionar el elemento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorTitulo, .contenedorParrafo{ /*Se alinean ambos textos y se le da un ancho*/
    text-align: center;
    width:50em;
}

.contenedorTitulo{ /*Estilo del titulo*/
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    margin:0.3em;
}

.contenedorParrafo{ /*Estilo del parrafo*/
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

/*----------------------------------------------------*/

.articulo{ /*Contenedor articulo*/
    height: 20em;
    width: auto;
    background-color: #DFD3C3;
}

.articulo{ /*Se utiliza para posicionar los elementos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articuloTitulo, .articuloParrafo{/*Se alinean ambos textos y se le da un ancho*/
    text-align: center;
    width: 50em;
}

.articuloTitulo{ /*Estilo del titulo*/
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    margin: 0.3em;
}

.articuloParrafo{ /*Estilo del parrafo*/
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

/*----------------------------------------------------*/

/*INDEX GRID*/

#index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, autofill);
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer";
}

#index .header{
    grid-area:header;
}

#index .mainIndex{
    grid-area:main;
}

#index .footer{
    grid-area:footer;
}

/*INDEX MEDIA QUERIES*/

@media screen and (min-width:320px) and (max-width:479px){
    #index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .header{
        height: 100px;
    }

    .header > nav{
        font-size: 0.7em;
    }

    .logo img{
        width: 50px;
    }
    
    .banner{
        height: 400px;
    }

    .banner .bannerTitulo{
        font-size: 2em;
    }

    .banner .bannerParrafo{
        font-size: 0.7em;
    }

    .contenedorTitulo{
        font-size: 2em;
    }

    .contenedorParrafo{
        font-size:0.7em;
        width: 300px;
    }

    .articulo .articuloTitulo{
        font-size: 2em;
    }

    .articuloParrafo{
        font-size: 0.7em;
        width: 300px;
    }

    .pieDePagina .redes{
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .pieDePagina picture{
        display:none
    }

    .links, .informacion{
        display: none;
    }

    .redes h4{
        display: none;
    }

    .redes a{
        margin-right: 1.1em ;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    #index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    
    .banner .bannerTitulo{
        font-size: 3em;
    }

    .banner .bannerParrafo{
        font-size: 1em;
    }

    .contenedor .contenedorTitulo{
        font-size: 2em;
    }

    .contenedor .contenedorParrafo{
        font-size: 0.9em;
        width: 400px;
    }

    .articulo .articuloTitulo{
        font-size: 2em;
    }

    .articulo .articuloParrafo{
        font-size: 0.9em;
        width: 400px;
    }

    .pieDePagina > picture{
        display: none;
    }

    .pieDePagina .redes{
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
    }

    .pieDePagina picture{
        display:none
    }

    .links, .informacion{
        display: none;
    }

    .redes h4{
        display: none;
    }

    .redes a{
        margin-right: 1.2em ;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    #index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, autofill);
        grid-template-areas:
        "header header"
        "main   main"
        "footer footer";
    }  

    .banner .bannerTitulo{
        font-size: 3em;
    }

    .banner .bannerParrafo{
        font-size: 1.5em;
    }

    .contenedor .contenedorTitulo{
        font-size: 2em;
    }

    .contenedor .contenedorParrafo{
        font-size: 0.9em;
    }

    .articulo .articuloTitulo{
        font-size: 2em;
    }

    .articulo .articuloParrafo{
        font-size: 0.9em;
    }

    .pieDePagina > picture{
        display: none;
    }
}


/*-------------------------------------------*/

/*FOOTER*/

footer{
    background-color: #7D6E83;
}

.pieDePagina{ /*Se utilizo para posicionar el contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.logoFooter{ /*Ancho del logo*/
    width: 8em;
}

/*(FOOTER) LINKS*/

.links h4{ /*Estilo al titulo de links*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5em;
}

.links ul li a{ /*Estilo a la lista links*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.links li{ /*Margin bottom entre cada lista*/
    margin-bottom: 1em;
}

/*(FOOTER) REDES*/

.redes{ /*Se utilizo para posicionar los iconos de las redes sociales*/
    display: flex;
    flex-direction: column;
}

.redes h4{
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5em;
    color: #000000;
}

.redes a{
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin-bottom: 1em;
}

.redes a{ /*Color a los iconos*/
    color: #000000;
}

/*(FOOTER) INFORMACION*/

.informacion h4{ /*Estilo al titulo de informacion*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5em;
    color: #000000;
}

.informacion ul li {/*Estilo a la lista informacion*/
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.informacion li{ /*Margin bottom entre cada lista*/
    margin-bottom: 1em;
}

/*(FOOTER) COPYRIGHT*/

.copyright{ /*Se utilizo para posicionar el texto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------*/

/*NOSOTROS*/

/*Flexbox y altura al banner*/

.bannerNosotros{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/*Banner propiedades*/

.bannerNosotros{
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -200px;
}

/*Parrafo dentro del banner*/

.parrafoNosotros{
    font-size: 2em;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
}

/*----------------------------------------------------*/

.nosotrosTitulo{ /*Se utilizo para posicionar al titulo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotrosTitulo h1{ /*Al titulo se le aplico estetica*/
    font-size: 4em ;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color:#ffffff;
    margin: 2em;
}

/*----------------------------------------------------*/

/*Seccion 1 IMAGEN*/

.cardDerecha{ /*Se utilizo para posicionar la imagen*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.cardImagenDerecha{ /*Ancho y box shadow de imagen*/
    width: 600px;
    margin: 5em;
    box-shadow: 8px 8px 8px;
}

/*----------------------------------------------------*/

/*Seccion 1 PARRAFO*/

/*Ancho padding y margin para el parrafo*/

.cardDerecha > p{ 
    background-color: #ffffff;
    width:500px;
    border: 1px solid #000000;
    box-shadow: 10px 10px;
    padding: 2em;
    margin: 5em;
}

/*Estilo de texto y box*/

.cardDerecha > p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: center;
}

/*----------------------------------------------------*/

/*Seccion 2 IMAGEN*/

.cardIzquierda{ /*Se utilizo para posicionar la imagen*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

.cardImagenIzquierda{ /*Altura y ancho para la imagen*/
    width: 600px;
    margin: 5em;
    box-shadow: -8px 8px 8px;
}

/*----------------------------------------------------*/

/*Seccion 2 PARRAFO*/

.cardIzquierda > P{ /*Ancho padding y margin para el parrafo*/
    background-color: #ffffff;
    width: 500px;
    border: 1px solid #000000;
    box-shadow: -10px 10px;
    margin: 5em;
    padding: 2em;
}

.cardIzquierda > p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: center;
}

/*----------------------------------------------------*/

/*GALERIA*/

/*Se utilizo para posicionar al titulo de la galeria*/

.galeriaTitulo{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Al titulo se le asigno estilo en su fuente*/

.galeriaTitulo > h1{ 
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #ffffffff;
    text-shadow: 2px 3px #000000;
    margin: 1em;
}

/*Flexbox al contenedor galeria*/

#galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

/*Grids a la galeria*/

#galeria{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: 
    "img1  img8  img2  img11"
    "img1  img6  img2  img5"
    "img10 img9  img12 img5"
    "img7  img9  img14 img4"
    "img3  img13 img13 img4";
    gap: 20px;
}

.img-1{
    grid-area: img1;
}

.img-2{
    grid-area: img2;
}

.img-3{
    grid-area: img3;
}

.img-4{
    grid-area: img4;
}

.img-5{
    grid-area: img5;
}

.img-6{
    grid-area: img6;
}

.img-7{
    grid-area: img7;
}

.img-8{
    grid-area: img8;
}

.img-9{
    grid-area: img9;
}

.img-10{
    grid-area: img10;
}

.img-11{
    grid-area: img11;
}

.img-12{
    grid-area: img12;
}

.img-13{
    grid-area: img13;
} 

.img-14{
    grid-area: img14;
}

/*Estilo de todas las imagenes*/

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px;
    transition: all 300ms ease;
}

.img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Galeria Media Queries*/

@media screen and (min-width: 320px) and (max-width:479px){

    #galeria{
        display: grid;
        grid-template-columns: repeat(2,140px);
        grid-template-rows:repeat(9, 140px);
        grid-template-areas:
        "img1  img1"
        "img2  img3"
        "img4  img4"
        "img5  img6"
        "img7  img7"
        "img8  img9"
        "img10 img10"
        "img11 img12"
        "img13 img14";
    }

    .header{
        height: 100px;
    }

    .header > nav{
        font-size: 0.7em;
    }

    .logo img{
        width: 50px;
    }

    .galeriaTitulo h1{
        font-size:1.5em;
    }

    .pieDePagina .redes{
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }
    
    .pieDePagina picture{
        display:none
    }
    
    .links, .informacion{
        display: none;
    }
    
    .redes h4{
        display: none;
    }
    
    .redes a{
        margin-right: 1.1em ;
    }
}

@media screen and (min-width: 480px) and (max-width:767px){

    #galeria{
        display: grid;
        grid-template-columns: repeat(2,200px);
        grid-template-rows:repeat(9, 200px);
        grid-template-areas:
        "img1  img1"
        "img2  img3"
        "img4  img4"
        "img5  img6"
        "img7  img7"
        "img8  img9"
        "img10 img10"
        "img11 img12"
        "img13 img14";}

    .header{
        height: 100px;
    }

    .header > nav{
        font-size: 0.7em;
    }

    .logo img{
        width: 50px;
    }

    .galeriaTitulo h1{
        font-size:2em;
    }

    .pieDePagina .redes{
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }
    
    .pieDePagina picture{
        display:none
    }
        
    .links, .informacion{
        display: none;
    }
    
    .redes h4{
        display: none;
    }
    
    .redes a{
        margin-right: 1.1em ;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px){

    #galeria{
        display: grid;
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(9, 400px);
        grid-template-areas:
        "img1  img1  img2"
        "img3  img3  img3"
        "img4  img4  img5"
        "img6  img6  img6"
        "img8  img7  img7"
        "img11 img11 img11"
        "img9  img10 img10"
        "img12 img12 img12"
        "img13 img14 img14";
    }

    .galeriaTitulo h1{
        font-size:3em;
    }
}

@media screen and (min-width: 1280px) and (max-width:1824px){

    #galeria{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas:
        "img1  img9  img2  img11"
        "img1  img6  img2  img5"
        "img10 img8  img12 img5"
        "img7  img8  img14 img4"
        "img3  img13 img13 img4";
    }
}

/*----------------------------------------------------*/

/*SERVICIOS*/

.serviciosTitulo{ /*Se utilizo para posicionar al titulo*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviciosTitulo > h1{ /*Se utilizo para dar estetica al titulo*/
    font-size: 4em ;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color:#ffffff;
    margin: 2em;
}

/*----------------------------------------------------*/


/*Se utilizo para separar el contenido del footer*/

.contenedorCards{ 
    padding: 3.3em;
}

/*Posicionamiento de los items*/

.card-1{           
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.card-1 >img{
    width: 50em;
    box-shadow: 0px 5px 6px #000000;
}

/*----------------------------------------------------*/

/*Posicionamiento de la imagen*/

.card-2{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.card-2 >img{
    height: 30em;
    box-shadow: 0px 5px 6px;
}

/*----------------------------------------------------*/

/*Posicionamiento de la imagen*/

.card-3{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.card-3 >img{
    height: 25em;
    box-shadow: 0px 5px 6px;
}

/*----------------------------------------------------*/

/*Posicionamiento de la imagen*/

.card-4{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.card-4 >img{ 
    height: 20em;
    box-shadow: 0px 5px 6px;
}

/*----------------------------------------------------*/

/* CARDS PARRAFOS ↓*/

.card-1 > p{ /*Altura padding margin al parrafo*/
    width: 34em;
    padding: 2em;
    margin: 2em;
}

/*Estilos al parrafo*/

.card-1 > p{ 
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 0.5px #ffffff;
}

.card-1 > p{
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px;
    border-radius: 10px;
    background:linear-gradient(135deg, #00e8f2 0%,#95ea00 100%);
}

/*----------------------------------------------------*/

/*Altura padding margin al parrafo*/

.card-2 > p{ 
    width: 18em;
    padding: 2em;
    margin: 2em;
}

/*Estilo al parrafo*/

.card-2 > p{ 
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 1px 0.5px #ffffff;
} 

.card-2 > p{
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px;
    border-radius: 10px;
    background:linear-gradient(135deg, #d177f2 0%,#fcc989 100%);
}

/*----------------------------------------------------*/

/*Altura padding margin al parrafo*/

.card-3 > p{ 
    width: 24em;
    padding: 1em;
    margin: 2em;
}

/*Estilo al parrafo*/

.card-3 > p{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 0.5px #ffffff;
} 

.card-3 > p{
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px;
    border-radius: 10px;
    background:linear-gradient(135deg, #ffe53b 0%,#ff2525 100%);
}

/*----------------------------------------------------*/

/*Altura padding margin al parrafo*/

.card-4 > p{ 
    width: 49em;
    padding: 2em;
    margin: 2em;
}

/*Estilo al parrafo*/

.card-4 > p{ 
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 0.5px #ffffff;
} 

.card-4 > p{
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px;
    border-radius: 10px;
    background:linear-gradient(135deg, #ffffff 0%,#6184ff 100%);
}

/*----------------------------------------------------*/

/*CONTACTO*/


/*Posicionamiento al titulo*/

.contactoTitulo{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilo al titulo*/

.contactoTitulo h1{  
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 4px 3px#000000;
    text-transform: uppercase;
    text-shadow: 2px 3px #000000;
    color: #ffffff;
    margin: 2em;
}

/*FORMULARIO CONTACTO*/

.contenedorContacto{ /*Posicionamiento al formulario*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedorContacto{
    margin-bottom: 8em;
}

/*Estilo a los cajones del formulario*/

.contenedorContacto form{ 
    width: 500px;         /*Lo pase a pixeles porque en em se distribuye de otra manera la caja padre*/
    padding: 1em;

    border-radius: 0.5em;
    box-shadow: 6px 3px 8px 1px #000000;
    background:linear-gradient(135deg, #e9eced 0%,#fffcfc 100%);
}

/*Estilo a todo el texto del formulario*/

.contenedorContacto form{ 
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #000000;
}

/*Posicionamiento entre los divs*/

.contenedorContacto div{ 
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.contenedorContacto label{
    margin-bottom: 0.5em;
}

/*Alto y ancho de las cajas de texto*/

.contenedorContacto input{ 
    width: 450px;
    height: 40px;
}

/*Se modificaron los valores de las cajas de texto */

.contenedorContacto input{ 
    font-size: 1.0em;
    border-radius: 0.3em;
    outline: none;
    border: 1px solid;
}

/*Alto y ancho de la caja de comentario*/

.contenedorContacto textarea{ 
    width: 450px;
    height: 90px;
}

/*Se modificaron los valores de la caja comentario*/

.contenedorContacto textarea{ 
    font-size: 1.2em;
    border-radius: 0.3em;
    resize: none;
    outline: none;
    border: 1px solid;
}

/*Estilos al boton*/

.contenedorContacto button{
    font-size  : 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorContacto button{
    display: block;
    width: 450px;
    margin: 10px;
    padding: 15px 45px;

    text-align: center;
    text-transform: uppercase;

    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    
    transition: 0.5s;
}

.contenedorContacto button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}