/*FOOTER*/

footer { 
    background-color: #7D6E83;

    .pieDePagina {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em;

        .logoFooter {
            width: 8em;
        }

        .links {
            h4 {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-bottom: 0.5em;
            }

            ul li a {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #000000;
            }

            li {
                margin-bottom: 1em;
            }
        }

        .redes {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-bottom: 0.5em;
                color: #000000;
            }

            a {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #000000;
                margin-bottom: 1em;
            }
        }

        .informacion {
            h4 {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-bottom: 0.5em;
                color: #000000;
            }

            ul li {
                font-size: 0.9em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #000000;
            }

            li {
                margin-bottom: 1em;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
